header {
	text-align: center;
}
.none {
	display: none;
}
.container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
}
.categories button {
	display: block;
	padding: 5px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	width: 300px;
	margin-top: 80px;
}
th,
td {
	border: 1px solid black;
	padding: 8px;
}
